[submodule "pico/lib/u8g2"]
	path = firmware/lib/u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "pico/lib/asio"]
	path = firmware/lib/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "pico/lib/websocketpp"]
	path = firmware/lib/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "firmware/lib/libremidi"]
	path = firmware/lib/libremidi
	url = https://github.com/jcelerier/libremidi.git
[submodule "firmware/lib/SDL"]
	path = firmware/lib/SDL
	url = https://github.com/libsdl-org/SDL.git
