[submodule "pico/lib/u8g2"]
	path = firmware/lib/u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "pico/lib/asio"]
	path = firmware/lib/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "pico/lib/websocketpp"]
	path = firmware/lib/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "firmware/lib/libremidi"]
	path = firmware/lib/libremidi
	url = https://github.com/jcelerier/libremidi.git
[submodule "firmware/lib/SDL"]
	path = firmware/lib/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "firmware/lib/ioLibrary_Driver"]
	path = firmware/lib/ioLibrary_Driver
	url = https://github.com/Wiznet/ioLibrary_Driver.git
[submodule "firmware/lib/Arduino-AppleMIDI-Library"]
	path = firmware/lib/Arduino-AppleMIDI-Library
	url = https://github.com/lathoub/Arduino-AppleMIDI-Library.git
[submodule "firmware/lib/arduino_midi_library"]
	path = firmware/lib/arduino_midi_library
	url = https://github.com/FortySevenEffects/arduino_midi_library.git
[submodule "firmware/lib/EthernetBonjour"]
	path = firmware/lib/EthernetBonjour
	url = https://github.com/TrippyLighting/EthernetBonjour.git
